<li>
    {{burger_name}}

    <button class="change-eaten" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Yum!{{else}}I'm hungry!{{/if}}
    </button>

    {{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>